.border-title span, .hx-l-wenda .t-key, .hx-l-wenda .t-val, .hx-l-wenda .jxhd .jx-top .t-author i, .hx-l-wenda .qtwd .i-bottom .b-r a, .hx-l-course .c-cont .d-l a, .hx-l-course .c-cont .d-r .r-title .t-name, .hx-l-course .c-cont .d-r .r-title i, .hx-r-form .f-zx .zx-text { display: inline-block; *zoom: 1; *display: inline; }

.hx-l-wenda .qtwd .i-bottom, .hx-l-course .c-cont .c-detail, .hx-l-course .c-more, .hx-r-form .f-top, .hx-r-form .jg-head { zoom: 1; }
.hx-l-wenda .qtwd .i-bottom:after, .hx-l-course .c-cont .c-detail:after, .hx-l-course .c-more:after, .hx-r-form .f-top:after, .hx-r-form .jg-head:after { clear: both; }
.hx-l-wenda .qtwd .i-bottom:before, .hx-l-course .c-cont .c-detail:before, .hx-l-course .c-more:before, .hx-r-form .f-top:before, .hx-r-form .jg-head:before, .hx-l-wenda .qtwd .i-bottom:after, .hx-l-course .c-cont .c-detail:after, .hx-l-course .c-more:after, .hx-r-form .f-top:after, .hx-r-form .jg-head:after { content: ""; display: table; }

.border-title { font-size: 18px; color: #444444; font-weight: bold; border-bottom: 1px solid #eeeeee; }
.border-title span { padding: 15px 7px; border-bottom: 2px solid #ffa826; margin-bottom: -1px; }

.hx-l-wenda { padding: 20px; border: solid 1px #eeeeee; margin: 20px 0 40px; }
.hx-l-wenda .t-key, .hx-l-wenda .t-val { vertical-align: middle; }
.hx-l-wenda .jxhd .jx-top .wd-title { font-size: 20px; line-height: 22px; margin-bottom: 18px; }
.hx-l-wenda .jxhd .jx-top .wd-title .t-key { font-size: 14px; padding: 0 5px; background-color: #ffa826; border-radius: 4px; color: #fff; }
.hx-l-wenda .jxhd .jx-top .t-author { padding-left: 12px; line-height: 30px; color: #999999; background-color: #f5f5f5; margin-bottom: 20px; }
.hx-l-wenda .jxhd .jx-top .t-author i { width: 15px; height: 15px; background: url(https://img.thea.cn/public/platform/thea/201905/hx/images/sprite.png) -46px -198px; margin: 0 10px 0 50px; }
.hx-l-wenda .jxhd .jx-bottom .wd-title { margin-bottom: 16px; }
.hx-l-wenda .jxhd .jx-bottom .wd-title .t-key { width: 22px; height: 34px; background: url(../images/01.png) no-repeat; }
.hx-l-wenda .jxhd .jx-bottom .wd-title .t-val { font-size: 18px; font-weight: bold; }
.hx-l-wenda .jxhd .jx-bottom p { color: #666666; }
.hx-l-wenda .qtwd .i-top { padding: 28px 0 20px; }
.hx-l-wenda .qtwd .i-top .wd-title { margin-bottom: 10px; }
.hx-l-wenda .qtwd .i-top .t-key { margin-right: 10px; }
.hx-l-wenda .qtwd .i-top .t-key img { border-radius: 50%; }
.hx-l-wenda .qtwd .i-top .t-val { color: #999999; }
.hx-l-wenda .qtwd .i-bottom { padding: 20px; background-color: #f5f5f5; margin-bottom: 10px; position: relative; }
.hx-l-wenda .qtwd .i-bottom::before { content: ""; width: 0; height: 0; border-top: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #f5f5f5; border-left: 10px solid transparent; position: absolute; top: -20px; left: 23px; }
.hx-l-wenda .qtwd .i-bottom .b-l, .hx-l-wenda .qtwd .i-bottom .b-r { float: left; }
.hx-l-wenda .qtwd .i-bottom .b-l { margin-right: 10px; }
.hx-l-wenda .qtwd .i-bottom .b-l img { border-radius: 50%; }
.hx-l-wenda .qtwd .i-bottom .b-r { width: 93%; }
.hx-l-wenda .qtwd .i-bottom .b-r .r-name { line-height: 38px; }
.hx-l-wenda .qtwd .i-bottom .b-r a { padding: 12px 0; }
.hx-l-wenda .qtwd .i-bottom .b-r p { color: #666666; }

.hx-l-course .c-cont .c-detail { padding: 26px 0 20px; border-bottom: 1px dotted #dddddd; }
.hx-l-course .c-cont .d-l, .hx-l-course .c-cont .d-r { float: left; }
.hx-l-course .c-cont .d-l { width: 168px; height: 72px; margin-right: 20px; }
.hx-l-course .c-cont .d-l img { width: 100%; height: 100%; }
.hx-l-course .c-cont .d-l .wap-star { display: none; }
.hx-l-course .c-cont .d-r { width: 75%; }
.hx-l-course .c-cont .d-r .r-title { font-size: 16px; margin-bottom: 6px; }
.hx-l-course .c-cont .d-r .r-title .t-name, .hx-l-course .c-cont .d-r .r-title i { vertical-align: middle; }
.hx-l-course .c-cont .d-r .r-title .t-name { margin-right: 20px; line-height: 22px; }
.hx-l-course .c-cont .d-r .r-title .t-star i { width: 14px; height: 13px; }
.hx-l-course .c-cont .d-r .r-title .t-star .s-sel { background: url(../images/star-sel.png) no-repeat; }
.hx-l-course .c-cont .d-r .r-title .t-star .s-half { background: url(../images/star-half.png) no-repeat; }
.hx-l-course .c-cont .d-r .r-title .t-star .s-nor { background: url(../images/star-nor.png) no-repeat; }
.hx-l-course .c-cont .d-r p { color: #999999; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.hx-l-course .c-more { padding-top: 18px; margin-right: -30px; }
.hx-l-course .c-more a { float: left; margin-right: 30px; }

.hx-r-form { padding: 20px 20px 0 20px; height: 409px; background: url(../images/form-bg.png) no-repeat; margin-bottom: 20px; }
.hx-r-form .f-top { margin-right: -2%; margin-bottom: 20px; }
.hx-r-form .f-top .t-l, .hx-r-form .f-top .t-r { float: left; }
.hx-r-form .f-top .t-l { width: 122px; height: 52px; margin-right: 8px; }
.hx-r-form .f-top .t-r .r-name { font-weight: bold; }
.hx-r-form .f-top .t-r .r-advisor { font-size: 12px; color: #666666; }
.hx-r-form .f-top .t-r .r-advisor .text { padding: 1px 4px; line-height: 18px; color: #fff; background-image: linear-gradient(267deg, #ffa826 0%, #ffbf5f 100%); position: relative; }
.hx-r-form .f-top .t-r .r-advisor .text::before { content: ""; width: 0; height: 0; border-top: 3px solid transparent; border-right: 3px solid #ffbf5f; border-bottom: 3px solid transparent; border-left: 3px solid transparent; position: absolute; left: -6px; top: 0; bottom: 0; margin: auto; }
.hx-r-form .f-top .t-r .r-advisor p { font-size: 12px; color: #999999; }
.hx-r-form .jg-head { border-top: 1px solid #ffd9be; }
.hx-r-form .jg-head li { float: left; width: 80px; height: 34px; padding: 15px 0 23px; margin-right: 10px; position: relative; }
.hx-r-form .jg-head li img { width: 100%; height: 100%; border: solid 1px #eeeeee; box-sizing: border-box; }
.hx-r-form .jg-head li.on::before { content: ""; width: 100%; height: 2px; background-color: #ffa826; position: absolute; top: -2px; }
.hx-r-form .jg-head li.on::after { content: ""; width: 0; height: 0; border-top: 5px solid transparent; border-right: 6px solid transparent; border-bottom: 5px solid #ffa826; border-left: 6px solid transparent; position: absolute; top: -12px; left: 0; right: 0; margin: 0 auto; }
.hx-r-form .jg-head li.on img { border: solid 1px #ffa826; }
.hx-r-form .jg-head li:last-child { margin-right: 0; }
.hx-r-form .sign-in { padding: 20px 20px 0; }
.hx-r-form input { width: 100%; line-height: 36px; border-radius: 4px; border: solid 1px #eeeeee; margin-bottom: 18px; }
.hx-r-form input[type="submit"] { border: none; background-color: #ffa826; color: #fff; }
.hx-r-form .f-zx { padding: 10px 0; color: #ffffff; }
.hx-r-form .f-zx .zx-text { line-height: 14px; width: 28px; height: 26px; margin: 0 8px 0 30px; }
.hx-r-form .f-zx .zx-tel { font-size: 29px; }

@media screen and (max-width: 750px) { .border-title { font-size: 0.24rem; border-bottom: none; position: relative; }
  .border-title::before { content: ""; width: 0.1466666667rem; height: 0.4533333333rem; background-image: linear-gradient(-61deg, #ffa826 0%, #ff7843 100%); border-radius: 0.0666666667rem; position: absolute; left: 0; top: 0; bottom: 0; margin: auto; }
  .border-title span { line-height: 0.4533333333rem; padding: 0 0 0 0.4266666667rem; border-bottom: none; }
  .hx-l-wenda { background: #fff; padding: 0.4rem; border: none; margin: 0; }
  .hx-l-wenda .jxhd { padding-bottom: 0.5333333333rem; }
  .hx-l-wenda .jxhd .jx-top .wd-title { font-size: 0.4266666667rem; line-height: 0.48rem; margin-bottom: 0.24rem; }
  .hx-l-wenda .jxhd .jx-top .wd-title .t-key { font-size: 0.3333333333rem; padding: 0 0.0933333333rem; border-radius: 0.0666666667rem; }
  .hx-l-wenda .jxhd .jx-top .wd-title .t-val { font-weight: bold; }
  .hx-l-wenda .jxhd .jx-top .t-author { font-size: 0.32rem; padding-left: 0.4rem; line-height: 0.6933333333rem; margin-bottom: 0.2666666667rem; }
  .hx-l-wenda .jxhd .jx-top .t-author i { width: 15px; height: 15px; background: url(https://img.thea.cn/public/platform/thea/201905/hx/images/sprite.png) -46px -198px; margin: 0 0.1333333333rem 0 0.6666666667rem; transform: scale(0.9); vertical-align: text-bottom; }
  .hx-l-wenda .jxhd .jx-bottom .wd-title { margin-bottom: 0.2133333333rem; }
  .hx-l-wenda .jxhd .jx-bottom .wd-title .t-key { width: 22px; height: 34px; background: url(../images/01.png) no-repeat; transform: scale(0.9); }
  .hx-l-wenda .jxhd .jx-bottom .wd-title .t-val { font-size: 0.4533333333rem; }
  .hx-l-wenda .jxhd .jx-bottom p { font-size: 0.3733333333rem; }
  .hx-l-wenda .qtwd .i-top { padding: 0.3733333333rem 0 0.2666666667rem; }
  .hx-l-wenda .qtwd .i-top .wd-title { margin-bottom: 0.1333333333rem; }
  .hx-l-wenda .qtwd .i-top .wd-title .t-key { width: 0.8533333333rem; height: 0.8533333333rem; }
  .hx-l-wenda .qtwd .i-top .t-key { margin-right: 0.2666666667rem; }
  .hx-l-wenda .qtwd .i-top .t-key img { border-radius: 50%; }
  .hx-l-wenda .qtwd .i-top p { padding-left: 1.2rem; }
  .hx-l-wenda .qtwd .i-bottom { padding: 0.32rem; margin-left: 1.2rem; margin-bottom: 0.1333333333rem; position: relative; }
  .hx-l-wenda .qtwd .i-bottom::before { content: ""; width: 0; height: 0; border-top: 0.1333333333rem solid transparent; border-right: 0.1333333333rem solid transparent; border-bottom: 0.1333333333rem solid #f5f5f5; border-left: 0.1333333333rem solid transparent; position: absolute; top: -0.2666666667rem; left: 0.3066666667rem; }
  .hx-l-wenda .qtwd .i-bottom .b-l, .hx-l-wenda .qtwd .i-bottom .b-r { float: left; }
  .hx-l-wenda .qtwd .i-bottom .b-l { width: 0.5333333333rem; height: 0.5333333333rem; margin-right: 0.32rem; }
  .hx-l-wenda .qtwd .i-bottom .b-r { width: 88%; }
  .hx-l-wenda .qtwd .i-bottom .b-r .r-name { line-height: 0.5333333333rem; }
  .hx-l-wenda .qtwd .i-bottom .b-r a { padding: 0.3066666667rem 0 0.3333333333rem; }
  .hx-l-wenda .qtwd .i-bottom .b-r p { color: #666666; }
  .hx-l-course { background: #fff; padding: 0.5333333333rem 0.4rem; }
  .hx-l-course .c-cont { padding: 0.2666666667rem 0.2666666667rem 0; border-radius: 0.0533333333rem; border: solid 0.0266666667rem #eeeeee; }
  .hx-l-course .c-cont .c-detail { padding: 0 0 0.2666666667rem; }
  .hx-l-course .c-cont .d-l, .hx-l-course .c-cont .d-r { float: left; }
  .hx-l-course .c-cont .d-l { width: 2.24rem; height: auto; margin-right: 0.2666666667rem; }
  .hx-l-course .c-cont .d-l .wap-star { display: block; }
  .hx-l-course .c-cont .d-l .wap-star i { width: 0.3333333333rem; height: 0.32rem; }
  .hx-l-course .c-cont .d-l .wap-star .s-sel { background: url(../images/star-sel.png) no-repeat; background-size: 100% 100%; }
  .hx-l-course .c-cont .d-l .wap-star .s-half { background: url(../images/star-half.png) no-repeat; background-size: 100% 100%; }
  .hx-l-course .c-cont .d-l .wap-star .s-nor { background: url(../images/star-nor.png) no-repeat; background-size: 100% 100%; }
  .hx-l-course .c-cont .d-r { width: 70%; }
  .hx-l-course .c-cont .d-r .r-title { font-size: 0.2133333333rem; margin-bottom: 6px; }
  .hx-l-course .c-cont .d-r .r-title .t-name, .hx-l-course .c-cont .d-r .r-title i { vertical-align: middle; }
  .hx-l-course .c-cont .d-r .r-title .t-name { font-size: 0.4rem; margin-right: 0.2666666667rem; line-height: 0.2933333333rem; }
  .hx-l-course .c-cont .d-r .r-title .t-star { display: none; }
  .hx-l-course .c-more { padding-top: 0.4rem; margin-right: -0.3466666667rem; }
  .hx-l-course .c-more a { width: 4.1066666667rem; height: 2.8533333333rem; margin-right: 0.3466666667rem; margin-bottom: 0.32rem; } }

/*# sourceMappingURL=index.css.map */
